* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

resources/* linguist-vendored
*.scss liguist-vendored
*.css liguist-vendored
*.js liguist-vendored
public/* linguist-vendored
public/docs/* linguist-documentation
