* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

resources/* linguist-vendored=true
*.scss liguist-vendored=true
*.css liguist-vendored=true
*.js liguist-vendored=true
public/* linguist-vendored=true
public/docs/* linguist-documentation=true
