@use 'media-queries' as *;

@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-menu {
    @apply transition-all relative z-40;
    min-width: 250px;
    width: 250px;
    margin-left: 0;
    transition-duration: 500ms;

    @include lt-sm {
        @apply fixed;
    }

    &.closed {
        margin-left: -250px;
    }

    ul {
        min-height: 350px;
    }
}

#tickets,
#ticket-details-tabs {
    .menu {
        .item {
            @apply font-normal text-gray-500 pb-2 px-2 border-primary-700;
            min-width: 150px;

            &:hover {
                @apply border-b;
            }

            &.active {
                @apply border-b-2 font-bold;
            }
        }
    }
}

table {
    .min-w-table {
        min-width: 200px;
    }
}
